body{
    font-family: 'Lato', sans-serif;}
.wrapper{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

//colors
$orangebtn:#f68236;
$slidercolor:#bbbbbb;
$sliderhoverbtn:#e4e4e4;
$resultselectorcolor:#303030;
$highlightedfontcolor:#f68236;
$btnhover:#717171;
$backgroundcolor:#ffffff;
$fontcolor:#ffffff;
$bordercolor:#e5e5e5;
$gridhovercolor:#606060;
$labelcolor:#b4b4b4;
