.hero2 {
  height: 200px;
  .wrapper {
    h1 {
      text-align: center;
      width: 80%;
      margin: auto;
      font-size: 36px;
      position: relative;
      font-weight: 600;
      padding-top: 50px;
      text-transform: uppercase;
    }

    p {
      text-align: center;
      width: 80%;
      font-size: 18px;
      top: 10%;
      margin: auto;
      padding: 3%;
    }
  }
}
